<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Test Web App</title>
    @Styles.Render("~/css/bootstrap")
</head>

<body>
    @Html.Partial("_header")

    <div class="container">
        <div class="hero-unit">
            <div id="all-images" />
        </div>
        <div class="row">
            <div id="current-image" />
        </div>
    </div>

    @Html.Partial("_footer")
    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render("~/scripts/bootstrap")
    @Scripts.Render("~/scripts/fileupload")
    @Scripts.Render("~/scripts/custom")
</body>
</html>
